@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");

body,
html {
  font-family: "ZCOOL KuaiLe", sans-serif !important; 
  background-color: #FCF9F2;
  min-height: 100vh;
  width: 100%;
}
